# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore

# Ignore everything by default
*

# Except the Cloud Function files we want to deploy
!pages
!pages/api
!pages/api/screenshot.js
!function.js
!package.json
!package-lock.json

# Explicitly allow current dir. `gcloud deploy` fails without it.
!.